<!--<app-navbar-admin></app-navbar-admin>-->
<app-sidebar-admin>
    <app-registrar></app-registrar>
    <app-tabla-producto></app-tabla-producto> 
</app-sidebar-admin>


<!---
<div id="content" class="p-4 p-md-5 pt-5">
    <app-registrar></app-registrar>
    <app-tabla-producto></app-tabla-producto>     
</div>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <section class="content-header">
                        <div class="container-fluid">
                            <h1>Tabla de Productos</h1>
                        </div>
                    </section>
                    <app-registrar></app-registrar>
                    <app-tabla-producto></app-tabla-producto>            
                </div>
            </div>
        </div>
    </div>
</div>-->

