<section class="gallery p-3">
   <div class="container-lg">
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_1-min.jpg?alt=media&token=fb35f3dc-0e9f-49ef-9ea4-4a96b1fd4cff"
               class="gallery-item" alt="galeria">
         </div>
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_2-min.jpg?alt=media&token=506dac8e-01ef-45ce-b370-b05f578d3c41"
               class="gallery-item" alt="galeria">
         </div>
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_3-min.jpg?alt=media&token=abde0f2e-fd01-4f29-9661-9206be3032d2"
               class="gallery-item" alt="galeria">
         </div>
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_4-min.jpg?alt=media&token=ef9f4a13-a7d0-4497-9baf-b8ace00dded2"
               class="gallery-item" alt="galeria">
         </div>
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_5-min.jpg?alt=media&token=2f951f27-2b6e-4e41-b3a6-2855bc0c9472"
               class="gallery-item" alt="galeria">
         </div>
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_gallery_6-min.jpg?alt=media&token=be2a5018-1a65-46fe-be35-460eac3ea749"
               class="gallery-item" alt="galeria">
         </div>
      </div>
   </div>
</section>

<!-- Modal -->
<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h4 id="exampleModalLabel">Ultimos Modelos en sus mejores marcas</h4> 
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <img class="modal-img" alt="modal img">
         </div>
      </div>
   </div>
</div>