<!-- Product section 1-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-8"><img class="card-img-top mb-4 mb-md-12" src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body8.jpg?alt=media&token=7f9c92f7-75b4-4e45-b55e-94e153cdb0ec"
                    class="img-fluid" alt="Responsive image" />
            </div>
            <div class="col-md-4">
                <br>
                <div class="bg-2">
                    <h1 class="t-stroke t-shadow display-5 fw-bolder text-center">REINVENTA TU LOOK CON VANS</h1>  <br>                 
                 </div>
                <br>
                <p class="lead fw-bolder text-center" style="padding-top: 10px;"> Vans en estado puro. </p>
                <p class="lead text-center" >El modelo Authentic representa el estilo de la marca por encima de cualquier otro diseño, con un rollo más retro y elegante.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- --- Imagen responsiva de tipo collage ------>
<div>
    <img style="padding-left: 10px; padding-right: 10px;" src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body10.jpg?alt=media&token=a50375b1-09a8-46c6-b6aa-d9e77f7249d3" class="mx-auto d-block img-fluid d-flex w-90 mr-auto ml-auto">
</div>

<!-- Product section 1-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4">
                <br>
                <div class="bg-2">
                    <h1 class="t-stroke t-shadow display-5 fw-bolder text-center">A LA MODA CON ADIDAS</h1>  <br>                 
                 </div>
                <br>
                <p class="lead fw-bolder text-center" style="padding-top: 10px;"> Adidas Confort Style. </p>
                <p class="lead text-center" >Descubre todo de lo que eres capaz, cuando confias en ti mismo y alcanzas un estado de confort absoluto.
                </p>
            </div>
            <div class="col-md-8"><img class="card-img-top mb-4 mb-md-12" src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body6.jpg?alt=media&token=ff4dac7a-4a66-4987-8afc-0f0662f00d9a"
                class="img-fluid" alt="Responsive image" />
            </div>
        </div>
    </div>
</section>

<!--<div class="contenedor"><h1>Efecto de maquina.<span>&#160;</span></h1></div>-->



