<!------------------------------------------------------
-----------------------Titulo --------------------------
-------------------------------------------------------->
<br><div class="bg-5 p-2">
    <h1 class="animated-shadow fs-1 fw-bolder text-center">Los favoritos de la temporada de fiestas</h1>
</div>

<div class="container-fluid">
    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body1.jpg?alt=media&token=3b3269b4-7f42-41bd-a90a-84acb9ba3d8a"
        class="mx-auto d-block img-fluid d-flex w-90 mr-auto ml-auto">
</div>

<!------------------------------------------------------
------------------Seccion de marcas---------------------
-------------------------------------------------------->
<br>
<div class="bg-2">
    <h1 class="t-stroke-shadow fs-1 fw-bolder text-center">Las mejores marcas reconocidas del mundo.</h1>
</div>
<section class="clients">
    <div class="container">
        <div class="row clients-slider swiper ">
            <div class="col-6 col-sm-4 ">
                <div class="swiper-slide"><img
                        src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fnike_logo.jpg?alt=media&token=a001f7d7-a195-4e93-82fa-bf41a40ba83f"
                        alt=""></div>
            </div>
            <div class="col-6 col-sm-4">
                <div class="swiper-slide"><img
                        src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fadidas_logo.jpg?alt=media&token=c33b9783-9a94-46f1-b1f5-da79c63199c9"
                        class="" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4">
                <div class="swiper-slide"><img
                        src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fjordan_logo.jpg?alt=media&token=e286d364-127a-447d-9fcc-68022c0b35d1"
                        alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4">
                <div class="swiper-slide"><img
                        src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fnewbalance_logo.jpg?alt=media&token=3472d910-fcc6-46c3-b4d4-606d88991bb6"
                        alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4">
                <div class="swiper-slide"><img
                        src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fpuma_logo.jpg?alt=media&token=04a9a1d7-2080-4ed7-be19-fd1f8c1f0583"
                        alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4">
                <div class="swiper-slide"><img
                        src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fvans_logo.JPG?alt=media&token=b00bff3f-fc2a-4629-9134-e8cf738a5981"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Fin de seccion de marcas -->