<!--------------------------------------------------------
---------------Implementacion de carrusel-----------------
---------------------------------------------------------->
<div id="hero-carousel" class="carousel slide animated fadeIn" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carouse" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>

    <div class="carousel-inner  ">
        <div class="carousel-item active c-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fheader%2Fimg_nike.jpg?alt=media&token=c9b86c7b-2da8-444f-b3c5-4def11848239" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder text-capitalize">NIKE</h1>
                <P class="text-uppercase fs-3 mt-5">Regalos que no fallan. Los favoritos de la temporada de fiestas</P>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fheader%2Fimg_adidas.jpg?alt=media&token=d885fa5d-5539-4fb8-a6a9-c02f22ca6659" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder text-capitalize">ADIDAS</h1>
                <p class="text-uppercase fs-3 mt-5">Elegancia, comodidad y frescura</p>

            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fheader%2Fimg_jordan.jpg?alt=media&token=974bf699-746c-48d2-8548-e5f3038c8bb3" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder text-capitalize">JORDAN</h1>
                <p class="text-uppercase fs-3 mt-5">Mira lo bien que se sienten. Ve con el mejor estilo !!</p>

            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fheader%2Fimg_newbalance.jpg?alt=media&token=7ee524eb-80e1-43f4-9df7-ccc60fb97f0d" class="d-block w-100 c-img" alt="Slide 4">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder text-capitalize">NEW BALANCE</h1>
                <p class="text-uppercase fs-3 mt-5">Sientete como en casa.</p>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fheader%2Fimg_puma.jpg?alt=media&token=ee922e7c-91da-4e35-8761-f0882a174663" class="d-block w-100 c-img" alt="Slide 5">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder text-capitalize ">PUMA</h1>
                <p class="text-uppercase fs-3 mt-5">Resistencia que perdura, un buen regalo para tu familia</p>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fheader%2Fimg_adidas_super.jpg?alt=media&token=2ddc8a19-1535-42ab-be38-44d4304b7ece" class="d-block w-100 c-img" alt="Slide 6">
            <div class="carousel-caption top-0 mt-4">
                <h1 class="display-1 fw-bolder " >SNEAKERS</h1>
                <p class="text-uppercase fs-3 mt-5">La mejor calidad te la da AstroShoes, a los mejores precios del
                    mercado.
                </p>
            </div>
        </div>
        <ul class="top_icons carousel-caption top-0 mt-4 c-item">
            <li><a href="#"><span class="fa fa-facebook fa-2x" aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter fa-2x" aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="fa fa-linkedin fa-2x " aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="fa fa-google-plus fa-2x" aria-hidden="true"></span></a></li>
        </ul>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
   
</div>



