 <!-- Pagination -->
 <div class="pagination pagination-custom mt-5">
    <nav aria-label="...">
        <ul class="pagination pagination-sm d-flex justify-content-between">
            <li class="page-item disabled"><a href="#" tabindex="-1" class="page-link">Anterior</a></li>
            <li>
                <ul class="pages list-inline">
                    <li class="page-item active list-inline-item"><a href="#" class="page-link">1</a>
                    </li>
                    <li class="page-item list-inline-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item list-inline-item"><a href="#" class="page-link">3</a></li>
                </ul>
            </li>
            <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
        </ul>
    </nav>
</div>